In [40]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_file = "../Instructions/Pymaceuticals/data/mouse_drug_data.csv"
clinical_trial_file = "../Instructions/Pymaceuticals/data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
df_mouse = pd.read_csv(mouse_file)
df_clinical = pd.read_csv(clinical_trial_file)

# Combine the data into a single dataset
df_combine = df_clinical.merge(df_mouse, on = "Mouse ID", how = "inner")
df_combine = df_combine.sort_values(by=["Timepoint", "Tumor Volume (mm3)"])
# Display the data table for preview
df_combine.head()

   Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0      b128          0                45.0                 0  Capomulin
10     f932          0                45.0                 0   Ketapril
11     g107          0                45.0                 0   Ketapril
19     a457          0                45.0                 0   Ketapril
22     c819          0                45.0                 0   Ketapril

In [46]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
gb = df_combine.groupby(["Drug", "Timepoint"])

# Convert to DataFrame
mean_tumor_df = gb.mean()

# Preview DataFrame
mean_tumor_df = mean_tumor_df.reset_index()
mean_tumor_df.head()

        Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0  Capomulin          0           45.000000          0.000000
1  Capomulin          5           44.266086          0.160000
2  Capomulin         10           43.084291          0.320000
3  Capomulin         15           42.064317          0.375000
4  Capomulin         20           40.716325          0.652174

In [52]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
mean_tumor_df["Tumor Volume Error"] = mean_tumor_df.sem(axis = 1)
# Convert to DataFrame

# Preview DataFrame

,Drug,Timepoint,Tumor Volume (mm3),Metastatic Sites,Tumor Volume Error
75,Ramicane,25,38.974300,0.652174,8.329143
74,Ramicane,20,40.238325,0.347826,8.427062
4,Capomulin,20,40.716325,0.652174,8.476108
5,Capomulin,25,39.939528,0.818182,8.477912
6,Capomulin,30,38.769339,1.090909,8.581513
...,...,...,...,...,...
69,Propriva,45,66.258529,2.571429,14.082670
59,Placebo,45,68.084082,3.272727,14.296870
89,Stelasyn,45,68.438310,1.727273,14.597983
49,Naftisol,45,69.265506,2.538462,14.619393
39,Ketapril,45,70.662958,3.363636,14.745388